html {
  width: 100%;
}

body {
  width: 100%;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(228, 33%, 97%);
}

main {
  width: 100%;
}

p {
  margin: 0;
  line-height: 1.5;
  color: hsl(211, 10%, 45%);
}

/* UpvoteButton Component -- start */

.upvote-button {
  width: 25%;
  padding: 17.5px;
  border-radius: 12.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
}

.upvote-score {
  font-weight: 500;
  color: hsl(238, 40%, 52%);
}

/* UpvoteButton Component -- end */

/* CommentsSection Component -- start */

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CommentsSection Component -- end */

/* CommentsList Component -- start */

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CommentsList Component -- end */

/* Comment Component -- start */

.comment {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  background-color: hsl(0, 100%, 100%);
}

.comment__header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__username {
  color: hsl(212, 24%, 26%);
}

img[alt="user-image"] {
  width: 40px;
}

.comment__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__reply-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.footer__reply-button p {
  color: hsl(238, 40%, 52%);
}

.reply-container {
  border-left: 2px solid hsl(223, 19%, 93%);
  display: flex;
  justify-content: flex-end;
}

.reply-comment {
  max-width: 95%;
}

.user-identifier {
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: hsl(0, 100%, 100%);
  background-color: hsl(238, 40%, 52%);
}

.modify-container {
  display: flex;
  gap: 10px;
}

.delete-container,
.edit-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Comment Component -- end */

/* CommentForm Component -- start */

.comment-form {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(0, 100%, 100%);
}

textarea {
  max-width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  border: 2px solid hsl(223, 19%, 93%);
}

.error-text {
  color: hsl(4, 100%, 67%);
}

.comment-form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 35%;
  padding: 20px;
  border: none;
  border-radius: 7.5px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 100%, 100%);
  background-color: hsl(238, 40%, 52%);
}

/* CommentForm Component -- end */
