html {
  width: 100%;
}

.upvote-button {
  width: 20%;
  padding: 17.5px;
  border-radius: 12.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
}
